# STRING DATA TYPE

In [39]:
str = input("Enter your state of origin")

print("Your state of origin is "+str)
print("The first character is "+str[0])
print("The characters from third to fifth are "+str[2:5])
print("The string starting from the third character is "+str[2:])
print("State of origin two times "+str * 2)

Enter your state of origin Delta

Your state of origin is Delta
The first character is D
The characters from third to fifth are lta
The string starting from the third character is lta
State of origin two times DeltaDelta

# NUMERIC DATA TYPE

In [31]:
#Input from user
m= float(input("Enter mass in kilograms"))

#Constant value for the speed of light
c= 299792458

#Calculating energy using Einstein's equation
energy = m* c **2

#Displaying the result
print(f"The energy equivalent to {m} kg of mass is {energy} joules")

Enter mass in kilograms 55

The energy equivalent to 55.0 kg of mass is 4.943153483052497e+18 joules

# LIST DATATYPE

In [43]:
list = ['Anaconda', 786, 2.23, 'Jupyter', 70.2]
shortlist = [321, 'python']

print(list)
print(list[0])
print(list[1:3])
print(list[2:])
print(shortlist*2)
print(list + shortlist)

['Anaconda', 786, 2.23, 'Jupyter', 70.2]
Anaconda
[786, 2.23]
[2.23, 'Jupyter', 70.2]
[321, 'python', 321, 'python']
['Anaconda', 786, 2.23, 'Jupyter', 70.2, 321, 'python']

# TUPLE DATATYPE

In [46]:
tuple = ("Ekiti",750, 'Oshogbo', 250, "Akure", 500)
s_tuple = ("Abeokuta", 300, "Ogbomoso")

#Prints the complete tuple
print(tuple)

#Prints last element of tuple
print(tuple[-1])

#Prints elements of the tuple starting from 2nd till third
print(tuple[2:4])

#Prints elements of the tuple starting from third element
print(tuple[2:])

#Prints the contents of the tuple twice 
print(s_tuple*2)

#Prints concatenated tuples
print(tuple + s_tuple)

('Ekiti', 750, 'Oshogbo', 250, 'Akure', 500)
500
('Oshogbo', 250)
('Oshogbo', 250, 'Akure', 500)
('Abeokuta', 300, 'Ogbomoso', 'Abeokuta', 300, 'Ogbomoso')
('Ekiti', 750, 'Oshogbo', 250, 'Akure', 500, 'Abeokuta', 300, 'Ogbomoso')

# BOOLEAN DATA TYPE

In [63]:
#Returns false as ga,e_1 is not equal to game_2
game_1 = 2
game_2 = 4
print(bool(game_1 == game_2))
#or
print(game_1 == game_2)

#Returns false as vol is none
val = None
print(bool(val))

False
False
False

# DATA TYPE CONVERSION (INTEGER)

In [66]:
#Convert to int
grade = int(70)
gpa = int(4.9)
cgpa = int("4")

print(f"Grade = {grade}")
print(f"GPA = {gpa}")
print(f"CGPA = {cgpa}")

Grade = 70
GPA = 4
CGPA = 4

# DATA TYPE CONVERSION (FLOAT)

In [70]:
# Convert to float
grade = float(97)
gpa = float(5)
cgpa = float("4.7")

print(f"Grade = {grade}")
print(f"GPA = {gpa}")
print(f"CGPA = {cgpa}")

Grade = 97.0
GPA = 5.0
CGPA = 4.7