In [31]:
names= ['Evelyn | ','Jessica| ','Somto  | ','Edith  | ','Liza   | ','Madonna| ', 'Waje   | ','Tola   | ', 
        'Aisha  | ','Latifa | ','Chinedu| ','Liam   | ','Wale   | ',
        'Gbenga | ','Abiola | ','Kunle  | ','George | ','Thomas | ','Wesley | ']
age= ['17 | ','16 | ','17 | ','18 | ','16 | ','18 | ', '17 | ','20 |','19 | ','17 | ','']

array = ['NAME   | ','AGE| ','HEIGHT| ','SCORE| ']
print(f'{array}\n')
for i in range(20):
    list = []
    list.append(names[i])
    print(list)

['NAME   | ', 'AGE| ', 'HEIGHT| ', 'SCORE| ']

['Evelyn | ']
['Jessica| ']
['Somto  | ']
['Edith  | ']
['Liza   | ']
['Madonna| ']
['Waje   | ']
['Tola   | ']
['Aisha  | ']
['Latifa | ']
['Chinedu| ']
['Liam   | ']
['Wale   | ']
['Gbenga | ']
['Abiola | ']
['Kunle  | ']
['George | ']
['Thomas | ']
['Wesley | ']

IndexError: list index out of range